* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: Arial;
}

.header {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 140px;
  background: #fff;
  color: #E50043;
  font-size: 50px;
  font-weight: 400;
}

.menu > li {
  display: inline;
  margin-right: 50px;
  list-style: none;
}

.menu > li:last-of-type {
  margin-right: 0;
}

a:link,
  a:visited {
    color: #E50043;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

.hero {
  height: 950px;
  background-image: url(../images/evian_origins_logo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E50043;
  line-height: 57.5px;
  font-size: 50px;
  font-weight: 400;
}

.main {
  width: 1040px;
  margin: 0 auto;
  padding: 150px 0px 150px 0px;
}

.border {
  border: 3px solid #F8BFC7;
  border-radius: 20px;
  padding: 24px;
}

.water {
  color: #000;
  font-size: 25px;
  letter-spacing: 0.05em;
  text-align: left;
}

.img-bottle {
  display: flex;
  justify-content: space-around;
  margin: 150px 0px 150px 0px;
}

.img-bottle p {
  text-align: center;
  font-size: 25px;
  margin: 48px 0px 0px 0px;
}

.water-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.water-bottom img {
  padding: 0px 50px 0px 50px;
}

.footer {
  height: 140px;
  background: #F8BFC7;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}